python-dotenv
streamlit
langchain
langchain-openai
langchain-community
chromadb
openai
tiktoken
faiss-cpu
tqdm
sentence-transformers
requests
faker
numpy
pandas
scipy
statsmodels
scikit-learn
matplotlib
seaborn
joblib
xgboost
lightgbm
catboost
ipykernel
openpyxl
